@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@100,200;400&display=swap');
*{
    box-sizing: border-box;
    
}

body{
    font-family: Mulish,sans-serif;
    font-weight: 100;
    margin: 0%;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}
.container{
    display:flex;
    width:90vw;
}

/* .panel{
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius:50px;
    flex: .8;
} */